---
language: node_js
node_js:
  - "0.12"

sudo: false

cache:
  directories:
    - node_modules

before_install:
  - export PATH=/usr/local/phantomjs-2.0.0/bin:$PATH
  - "npm config set spin false"
  - "npm install -g npm@^2"

install:
  - cd kujira; npm install -g bower
  - cd kujira; npm install
  - cd kujira; bower install

script:
  - cd kujira; npm test
