<h2>Login page</h2>
<form {{action 'authenticate' on='submit'}}>
  {{input id='identification' placeholder='Login' value=identification}}<br>
  {{input id='password' placeholder='Password' type='password' value=password}}<br>
  <button type="submit">Login</button>
</form>
