<div class="charts">
  <div class="barCharts">
    {{charts/bar-chart width=500 height=400 dataType='osds' chartDescription='osds bar chart' }}
  </div>
  <div class="pieCharts">
    {{charts/pie-chart width=300 height=400 dataType='osds' chartDescription='osds pie chart'}}
  </div>
<div class="donutCharts">
    {{charts/donut-chart width=300 height=400 dataType='nodes' chartDescription='nodes donut chart' }}
</div>
</div>
