<div class="charts">
  {{charts/bar-chart width=500 height=400 chartDescription='pie chart' inputParameters=model}}
  {{charts/pie-chart width=300 height=400 chartDescription='pie chart' inputParameters=model}}
  {{charts/donut-chart width=300 height=400 chartDescription='donut chart' inputParameters=model }}
</div>
