
@import url('info-box.css');
@import url('navbar.css');
@import url('sidemenu.css');
@import url('rightsidemenu.css');

body > .ember-view, .ember-app, #wrapper {
    height: 94vh;
}

#page-content-wrapper {
    min-height: 94vh;
}

.kujira-node-details {
    table {
        background-color: #f5f5f5;
    }
}

table.kujira-vertical {
    tr td:first-child {
        font-weight: bold;
    }
}


div.chart {
  margin: 5px;
}
span.HEALTH_OK {
    color: green !important;
}


.HEALTH_ERR {
   color: red !important;;
}


.HEALTH_WARN {
   color: orange !important;;
}
