.navbar-default {
  margin-bottom: 0px !important;
  border: 0px;
}

.navbar-header {
  min-width: 250px;
  cursor: pointer;
}

.navbar-header .navbar-brand,
  .navbar-header .navbar-brand.active{
  margin-left: 0px !important;
  padding-left: 40px;
  background: #f09b22;
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

.navbar-header .navbar-brand:hover{
  background: #F3AF4E;
    color: #FFFFFF;
}


.navbar-default .container-fluid{
  padding: 0px;
  background: #323232;
}

.nav > li > a{
  color: #c0c0c0 !important;
}

.nav > li > a:hover {
  color: #f09b22 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  color: #f09b22 !important;
  background: #1b1b1b !important;
}

ul.nav.navbar-nav.navbar-right {
  margin-right: 0;
}