<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'dashboard' tagName='a' class="navbar-brand" activeClass="active"}}
      KUJIRA
      {{/link-to}}
      <!-- <a class="navbar-brand" href="#">KUJIRA</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     {{#if session.isAuthenticated}}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="">
            <span class="glyphicon glyphicon-heart"></span>
            <span class="badge">42</span>
          </a>
        </li>
        {{#bs-dropdown tagName="li"}}
        {{#bs-dropdown-toggle}}Dropdown <span class="caret"></span>{{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu}}
          <li>{{#link-to "dashboard"}}Something{{/link-to}}</li>
          <li {{action 'invalidateSession'}} >{{#link-to "login"}}Logout {{/link-to}}</li>
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}
      </ul>
     {{/if}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> -->
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          {{#if session.isAuthenticated}}
            <ul class="sidebar-nav">
              {{#link-to 'dashboard' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-dashboard"></span>Dashboard</a>
              {{/link-to}}
              {{#link-to 'cluster' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-cloud"></span>Cluster</a>
              {{/link-to}}
              {{#link-to 'nodes' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-hdd"></span>Nodes</a>
              {{/link-to}}
              {{#link-to 'osds' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-cd"></span>OSDs</a>
              {{/link-to}}
              {{#link-to 'placement-groups' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-th"></span>Placement Groups</a>
              {{/link-to}}
              {{#link-to 'monitors' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-eye-open"></span>Monitors</a>
              {{/link-to}}
              {{#link-to 'pools' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-tags"></span>Pools</a>
              {{/link-to}}
              {{#if session.data.isAdmin}}
              {{#if session.data.isSuser}}
                {{#link-to 'susetting' activeClass="selected" tagName="li"}}
                      <a href=""><span class="glyphicon glyphicon-cog"></span>Admin Settings</a>
                {{/link-to}}
              {{/if}}
              {{#link-to 'settings' activeClass="selected" tagName="li"}}
                    <a href=""><span class="glyphicon glyphicon-cog"></span>Settings</a>
              {{/link-to}}
              {{/if}}
            </ul>
          {{/if}}
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" style="background-color: #ededed; min-height:1024px;">
            {{#if session.isAuthenticated}}
              {{outlet}}
              {{else}}
                {{login-page}}
            {{/if}}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
